body {
  background-image: url("/assets/img/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; 
  height: 100vh;
}

.header-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.headline-content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.headline {
  background-image: url("/assets/img/pikachu.png");
  background-position-x: calc(50% - 32px);
  background-position-y: calc(50% + 20px);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 9vw;
  font-weight: 900;
  color: transparent;
  font-family: "Luckiest Guy", cursive;
}

.input-content {
  display: flex;
  align-items: center;
  gap: 9px;
}

input {
  border-radius: 5px;
  border: 1px solid gold;
  background-color: transparent;
  padding: 10px;
  color: gold;
  cursor: pointer;
}

input::placeholder {
  color: white;
}

.input-content img {
  width: 27px;
  filter: invert(1);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  gap: 18px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.btn-container button:hover {
  transform: scale(1.02);
  border-color: #fff9;
}

.btn-container button:hover:before {
  animation: shine 1.5s ease-out infinite;
}

.btn-container button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}