html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/assets/img/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
}

.header-main-content {
  padding: 0 20px;
}

.headline-content {
  justify-content: center;
  flex: 1;
}

.headline {
  background-image: url("/assets/img/pikachu.png");
  background-position-x: calc(50% - 32px);
  background-position-y: calc(50% + 20px);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 9vw;
  font-weight: 900;
  color: transparent;
  font-family: "Luckiest Guy", cursive;
}

.input-content {
  align-items: center;
  gap: 9px;
}

input {
  border-radius: 5px;
  border: 1px solid gold;
  background-color: transparent;
  padding: 10px;
  color: gold;
  cursor: pointer;
}

input::placeholder {
  color: white;
}

.input-content img {
  width: 27px;
  filter: invert(1);
}

main {
  width: 100%;
  flex: 1 !important;
}

#loading {
  width: 100%;
  height: 100%;
}

.loader {
  flex-direction: column;
  background-color: #181817;
}

.loader img {
 height: 30%;
}

.loader h1 {
  color: white;
  font-size: larger;
  text-align: center;
}

.main-content {
  flex-wrap: wrap;
  padding: 20px 30px;
  gap: 18px;
  animation: myContent 1s ease-in-out 0s 1 normal forwards;
}

@keyframes myContent {
	0% {
		opacity: 0;
		transform: translateY(250px);
	};

	100% {
		opacity: 1;
		transform: translateY(0);
	};
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.btn-container button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.btn-container button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn-container button:hover:before {
  animation: shine 1.5s ease-out infinite;
}

.btn-container button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

footer {
  display: flex;
  justify-content: end;
  width: 100%;
}

footer img {
  width: 32px;
}

.footer-info {
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 10px 20px;
}

.footer-info span {
  font-family: verdana;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}