* {
  box-sizing: border-box;
  margin: 0 auto;
}

.a {
  text-decoration: none;
}

.content {
  max-width: 1920px;
}

.d-none {
  display: none !important;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}

.margin {
  margin: 0 !important;
}

.text-Color {
  color: black;
}

.d-flex {
  display: flex;
}

.d-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}