* {
  box-sizing: border-box;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1920px;
  flex: 1;
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}

.text-Color {
  color: white;
  filter: drop-shadow(5px 5px 4px black);
}

.d-flex {
  display: flex;
}

.d-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
