.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.arrow {
  justify-content: center;
  width: 50%;
  cursor: pointer;
}

.card-overlay {
  position: relative;
  display: flex;
  justify-content: center;
  width: 470px;
  height: 650px;
  background-color: #ffe659;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
  margin: 0 !important;
  box-shadow: 0px 0px 18px white;
}

.card-content-overlay {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 9px;
  gap: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 1px black);
}

.card-head-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  color: white;
  filter: drop-shadow(5px 5px 4px black);
  font-size: larger;
}

.card-image-overlay {
  border: 6px groove #c9c9ca;
  border-radius: 9px;
  filter: drop-shadow(9px 4px 7px black);
  margin-top: 18px;
  width: 80%;
  height: 36%;
}

.card-image-overlay img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-weight-height {
  padding-top: 10px;
  font-size: 16px;
}

.card-info-overlay {
  width: 90%;
  height: 100%;
  padding-top: 29px;
  overflow: auto;
}

.info-menu {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  filter: drop-shadow(5px 5px 4px black);
  cursor: pointer;
}

.info-content {
  padding-top: 23px;
  filter: drop-shadow(9px 4px 7px black);
}

#baseNum {
  width: 100%;
}

#statsContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
  overflow-y: auto;
}

.stats-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.stats-name {
  width: 150px;
  flex-shrink: 0;
  text-align: left;
}

.progressbar-container {
  flex: 1;
  background-color: rgb(220, 220, 220);
  border-radius: 10em;
  height: 14px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.progressbar {
  height: 100%;
  border-radius: 10em;
  background: linear-gradient(
    120deg, 
    #1672fc 25%,
    #013cc5 25%,
    #002e97 50%,
    #002e74 50%,
    #0250c6 75%,
    #2462f4 75%,
    #2c5ef6 100% 
  );
  background-size: 20px 20px;
  animation: progress-bar-stripes 2s linear infinite;
  transition: width 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}

.progress-text {
  position: absolute;
  padding-left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: white;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.info-content img {
  width: 22%;
}

.arrow-evo {
  width: 2rem !important;
}

.box-animation {
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-content img {
  width: 22%;
}

.arrow-evo {
  width: 2rem !important;
}

.box-animation {
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}