.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 235px;
  height: 335px;
  background-color: #ffe659;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.card-head {
  padding-top: 12px;
}

.head-right {
  display: flex;
  align-items: center;
}

.card-image {
  align-items: center;
  border: 6px groove #c9c9ca;
  border-radius: 9px;
  filter: drop-shadow(9px 4px 7px black);
  margin-top: 20px;
  width: 180px;
  height: 45%;
}

.card-image img {
  height: 90%;
}

.card-info {
  width: 90%;
  height: 8%;
  padding-top: 36px;
}

.pokemon-info {
  align-items: center;
  text-align: center;
}